#geo3d-view-container {
    flex: 1;
    display: flex;
    background-color: var(--text-color);
}
.aside {
    width: 300px;
    background-color: #fff;
    padding: 15px;
    display: flex;
    align-self: stretch;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #ddd;
}
.aside-top {
    display: flex;
    flex-direction: column;
}
